header{
    background: var(--shp-background);
    color: white;
    font-size: 13px;
}
.hder-top{
    margin-bottom: 10px;
}
header a {
    color: rgba(255, 255, 255, .9);
    font-weight: 500;
    font-size: 13px;
    font-weight: 300;
}
.navbar--top{
    justify-content: space-between;
    display: flex;
    padding: 5px 0;
}
.hder-top--right {
    display: flex;
    line-height: 1.6;
}

.hder-create {
    margin-right: 30px;
    position: relative;
}

.hder-create::after{
    content: "";
    background-color: rgba(255, 255, 255, .4);
    width: 2px;
    height: 15px;
    top: 4px;
    right: -16px;
    position: absolute;
}

.hder-icons--group {
    padding-right: 20px;
    cursor: pointer;
}

.hder-top--left {
    display: flex;
    line-height: 1.6;   
    align-items: center;
}
.hder-top--left >a:not(:first-child)
, .shopee-drawer
, .shopee-connect {
    position: relative;    
}
.hder-top--left >a:not(:first-child)::before 
, .shopee-drawer::before
, .shopee-connect::before{
    content: "";
    background-color: rgba(255, 255, 255, .4);
    width: 2px;
    height: 15px;
    top: 4px;
    left: -8px;
    position: absolute;
}
.hder-top--left > a ,.shopee-drawer{
    padding-right: 15px;;
}
.icons{
    padding: 0 7px; 
}
.icons i{
    color: white;
}

.hder-top--left > a:hover ,
.hder-top--right a:hover,
.hder-icons--group span:hover{
    color: rgba(255, 255, 255,.4);
}
.shopee-drawer {
    position: relative;
    cursor: pointer;    
}
.shopee-drawer::after {
    content: "";
    width: 90px;
    height: 35px;
    position: absolute;
    top: 5px;
    left: 0;       
}
.shp-boxwrapper{
    width: 210px;
    background-color: white;
    border-radius: 2px;
    display: none;
    position: absolute;
    top: 25px;
    left: -10px;    
    animation: fadeIn ease-in .5s;
}
.shp-boximg{
    width: 90%;
    margin: 0 auto;
}
.shp-box-imgs{
    margin-left: 15px;
}
.shp-boxwrapper > .shp-boximg:first-child img{
    width: 100%;
    margin: 10px auto;
}
.shp-boxwrapper .shp-box-imgs img{
    width: 90px;
    padding: 0 10px;
}
.shopee-drawer:hover .shp-boxwrapper{
    color: rgba(255, 255, 255,.4);
    cursor: pointer;
    display: block;
    z-index: 1;
}

/* .shp-noti{

} */
.shp-noti{
    position: relative;
}
.shp-noti--information::after{
    content: "";
    width: 120px;
    height: 30px;    
    position: absolute;
    top: -15px;
    right: -5px;   
}
.shp-noti--information::before{
    content: "";
    /* width: 120px; */
    right: 20px;   
   
    position: absolute;
    top: -15px;
    width: 0;
    height: 0;
    border-bottom: 30px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}
.shp-noti--information{
    position: absolute;
    width: 400px;
    display: none;
    border: 1px solid rgba(128, 128, 128, .2);
    top: 30px;
    left: -310px;
    border-radius: 2px;
    z-index: 1;
    animation: headerNotify ease-out .3s;
}
.shp-noti:hover .shp-noti--information{
    display: block;
}
.shp-noti--img{
    width: 80%;
    margin: 0 auto;
}
.shp-noti--img p{
    color: rgba(0, 0, 0, .8);
    text-align: center;
    margin-bottom: 10px;
}
.shp-noti--nologin{
    display: flex;
}
.shp-noti--nologin a{
    color: rgba(0, 0, 0, .8);
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    border:none;
}
.shp-noti--nologin a:hover{
    color: var(--shp-secondary);
    background-color:rgba(128, 128, 128, .2);
    border-radius: 2px;
}
.shp-noti--information{
    background-color: #ffff;
}
.shp-noti--information img{
    width: 100%;    
}
/*------------------center header*/
.hder-with--search{
    display: flex;
    align-items: center;
}
.shp-logo{
    margin-right: 35px;
}
.shp-logo svg{
    width: 180px;
    height: 60px;
    margin-bottom: 20px;   
}
.shp-logo g{
    fill: #ffff;
}
.shp-form--search__wrapper
{    
    width: 900px;
    max-width: 900px;
    margin-right: 35px;
    position: relative;
}
.shp-form--search input{
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 10px;
    border-color: var(--shp-primary);
    border-radius: 2px;
    border: 1px;
    color:grey;
}
.shp-form--search button{
    height: 30px;
    width: 55px;
    padding: 0 10px;
    border: none;
    outline: none;   
    position: absolute;
    top: 5px;
    right: 10px;
    background: var(--shp-background);
    color: white;
    border-radius: 2px;
}
.shp-cart a i{
    font-size: 24px;
}
.shp-wrapper--link{
    display: flex;
    width: 100%;
    line-height: 1.6;
}
.shp-wrapper--link >a{
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;

}
/*-----------------------cart*/
.shp-cart{
    position: relative;
    cursor: pointer;
}
.shp-cart .shp-noti--information{
    top: 35px;    
    left: -336px;
}
.shp-cart:hover .shp-noti--information{
    display: block;
}
.shp-number--cart
{
    padding: 5px 10px;
    position: absolute;
    top: -5px;
    left: 5px;
    color: black;
    font-weight: bold;
}
/*----------------------search result*/
.shp-result--search{
    position: absolute;
    background-color: white;
    color: grey;
    width: 90%;
    top: 43px;
    left: 0;
    padding: 15px;  
    display: none;  
}
.shp-result--search i{
    color: var(--shp-primary);
    margin-right: 10px;
}
.shp-result--search a{
    color: grey;
}
.shp-sup--result li{
    margin: 10px 0;
}
