@font-face {
    font-family: "Helvetica";
    src: url(./Font/Helvetica.ttf) ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
p , span, div{
    font-size: 14px;
    font-family: "Helvetica","sans-serif" !important;
    font-style: normal;
}
ul{
    margin: 0 !important;
    padding: 0 !important;
}
a{
    text-decoration: none;
    cursor: pointer;
    font-family: "Helvetica","sans-serif" !important;
}
i{
    padding:0 5px;
}
main{
    margin: 30px 0;
    background-color: #f1f3f4;
}
:root {
    --shp-background : linear-gradient(-180deg,#f53d2d,#f63);
    --shp-primary : #ff7c3a ;
    --shp-secondary: #f53d2d;
    --shp-fontcolor: rgba(0,0,0,.87);
    --nth-fontcolor : rgba(0,0,0,.54);
    --shp-bordercolor : #ee4d2d;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes headerNotify {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}